body {
  background: #222e49;
  background-color: #222e49;
}

.lightcolor {
    color: #dddddd;
}

.livgreen {
    color: #0DBC8E;
}

#talktitle {
    font-size: 2.2em;
    margin-bottom: 5%;
}

.reveal h1, .reveal h2 {
    text-shadow: 0 2px 5px #000000dd !important;
}

.reveal h2 {
    text-transform: none;
}

.shadow {
    text-shadow: 0 2px 5px #000000dd !important;
}

.reveal section img {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.80);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.attribution, .attribution a {
    position: fixed;
    bottom: 0%;
    right: 0%;
    font-size: 0.7em !important;
}
