body {
    background: #222e49;
    background-color: #222e49;
}

section.has-light-background h1 {
    color: #333333;
}

.lightcolor {
    color: #dddddd;
}

.livgreen {
    color: #0DBC8E;
}

#talktitle {
    font-size: 2.0em;
    margin-bottom: 5%;
}

.reveal ul.fa-ul {
    list-style-type: none;
}

.reveal ul.fa-ul li {
    margin-bottom: 5%;
}

.reveal h1, .reveal h2, .reveal h3  {
    text-shadow: 0 2px 5px #000000dd !important;
}

.reveal h3 {
	text-transform: none;
}

.shadow {
    text-shadow: 0 2px 5px #000000dd !important;
}

.imgshadow {
    border: none;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.80) !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.attribution, .attribution a {
    position: fixed;
    bottom: 0%;
    right: 0%;
    font-size: 0.7em !important;
}
